.main-panels-container {
    display: grid;
    grid-template-columns: min-content auto;
}

.left-panel {
    margin-right: 10px;
}

.tron-board {
    border: 1px solid;
}

.runtime-information {
    margin-bottom: 20px;
}

.tron-bot-path-container {
    display: grid;
    grid-template-columns: 100px auto;
}

.tron-bot-path {
    width: 100%;
    margin-bottom: 5px;
}

.tron-bot-log-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
}

.tron-bot-log {
    resize: none;
    margin-right: 5px;
    height: 200px;
}